h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.boldclass{
  font-weight: bold;
}

.italicsclass{
  font-style: italic
}

.colorclass{
  color: red;
  width: 100px;
}